:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "Libre Franklin";
  font-weight: 300;
  padding: 168px 52px 74px;
  color: var(--very-dark-blue);
  margin: 0;
}

.head {
  padding: 0 40px;
  text-align: center;
}

.head img {
  display: block;
  margin: 0 auto;
  margin-bottom: 88px;
}

.head h1 {
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 48px;
}

.head h1 .emphasized {
  font-weight: 600;
  color: var(--very-dark-blue);
}

.head .subscribe {
  margin-bottom: 66px;
}

.input-wrapper.error input {
  border-color: var(--light-red);
}

.input-wrapper.error .email-error {
  display: block;
  text-align: center;
  font-style: italic;
  color: var(--light-red);
  margin-bottom: 50px;
}

.email-input-wrapper input {
  height: 80px;
  line-height: 80px;
  padding: 0 68px;
  width: calc(100% - 136px);
  border: 2px solid var(--pale-blue);
  border-radius: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.email-input-wrapper input::placeholder {
  color: var(--blue);
  font-size: 20px;
}

.email-input-wrapper .email-error {
  display: none;
}

.btn {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  background-color: var(--blue);
  border: none;
  border-radius: 40px;
  color: white;
  margin-bottom: 138px;
  cursor: pointer;
}

.btn:hover {
  background-color: #7195f5;
}

.body {
  margin-bottom: 234px;
}

.body img {
  display: block;
  max-width: 100%;
}

.footer {
  text-align: center;
}

.footer i {
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: var(--blue);
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  margin-right: 26px;
  font-style: normal;
  cursor: pointer;
}

.footer i:hover {
  background-color: var(--blue);
  color: white;
}

.footer .icons {
  margin-bottom: 56px;
}

.footer .icons a {
  text-decoration: none;
}

.footer .copyright {
  color: var(--gray);
}

@media screen and (min-width: 800px) {
  main {
    max-width: 644px;
    margin: 0 auto;
  }
  body {
    padding: 88px 0 50px;
  }
  .head {
    padding: 0;
    margin-bottom: 94px;
  }
  .head img {
    margin-bottom: 60px;
  }
  .head h1 {
    margin-bottom: 34px;
  }
  .email-input-wrapper {
    display: grid;
    grid-template-columns: 428px 200px;
    column-gap: 14px;
  }
  .email-input-wrapper input,
  .email-input-wrapper .btn {
    height: 54px;
    line-height: 54px;
  }
  .email-input-wrapper .btn {
    margin-bottom: 0;
  }
  .body {
    margin-bottom: 96px;
  }
  .input-wrapper.error .email-error {
    margin-bottom: 0;
  }
}
